* {
  padding: 0px;
  margin: 0px;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: #55b9cde6;
  display: flex;
  /* position: absolute;
  margin: auto; */
}

.hero .left {
  width: 50%;
  height: 100vh;
  background-color: #00a86b;
}

.hero .left .col1 {
  padding-top: 120px;
  color: white;
  font-size: 50px;
  font-family: Montserrat;
  letter-spacing: 0.04em;
  text-align: center;
  margin-left: 66px;
}

.hero .left .col2 {
  color: #00a86b;
  font-size: 48px;
  margin-left: 243px;
  padding: 10px;
  background-color: white;
  margin-top: 20px;
  margin-left: 265px;
  margin-right: 220px;
  text-align: center;
}

.hero .left img {
  padding-top: 60px;
  width: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 300px;

  /* width: 284px
height: 456px
top: 527px
left: 227px */
}

.hero .right {
  width: 50%;
  height: 100vh;
  background-color: white;
}

.hero .right img {
  width: 70px;
  height: 92.58px;
  padding-top: 33.81px;
  margin-left: 335px;
}

.hero .right .col1 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.285em;
  text-align: center;
  padding-top: 60px;
}

.hero .right .col2 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.09em;
  text-align: center;
  padding-top: 20px;
}

.hero .right .numbers {
  display: flex;
  justify-content: center;
}

.hero .right .numbers h1 {
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 250;
  line-height: 57px;
  letter-spacing: 0.09em;
  margin-left: 30px;
  padding-top: 50px;
}

.hero .right .time {
  display: flex;

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

.hero .right .time .cola {
  margin-left: 300px;
}
.hero .right .time .colb {
  margin-left: 47px;
}
.hero .right .time .colc {
  margin-left: 37px;
}
.hero .right .time .cold {
  margin-left: 28px;
}

.hero .right a {
  text-decoration: none;
}

.hero .right h4 {
  padding-top: 30px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-align: center;
}

.hero .right .personal {
  display: flex;
  margin-top: 45px;
}
.hero .right .personal .first {
  margin-left: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 9px 0px #00000040;
  color: #00000047;
  text-decoration: none;
  display: flex;
}

.hero .right .personal .first i {
  padding-top: 5px;
}

.hero .right .personal .first form input {
  color: green;
  padding-top: 5px;
  border-color: white;
  border-top: white;
  border-left: white;
}
.hero .right .personal .second {
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #00a86b;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 15px;
  box-shadow: 0px 4px 9px 0px #00000040;
  text-decoration: none;
  color: white;
}

.hero .right .personal i {
  margin-right: 10px;
}

.hero .right .socials {
  padding-top: 150px;
  font-size: 35px;
  margin-left: 310px;
  letter-spacing: 15px;
}

@media only screen and (max-width: 577px) {
  .hero {
    width: 100%;
    height: 100vh;
    background-color: #55b9cde6;
    display: block;
    /* position: absolute;
    margin: auto; */
  }

  .hero .left {
    width: 100%;
    height: 100vh;
    background-color: #00a86b;
  }

  .hero .left .col1 {
    padding-top: 120px;
    color: white;
    font-size: 40px;
    font-family: Montserrat;
    letter-spacing: 0.04em;
    text-align: center;
    margin-left: 0px;
  }

  .hero .left .col2 {
    color: #00a86b;
    font-size: 40px;
    margin-left: 0px;
    padding: 10px;
    background-color: white;
    margin-top: 40px;
    margin-left: 140px;
    margin-right: 110px;
    text-align: center;
  }

  .hero .left img {
    padding-top: 50px;
    width: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 200px;
  }

  .hero .right {
    width: 100%;
    height: 100vh;
    background-color: white;
  }

  .hero .right img {
    width: 70px;
    height: 92.58px;
    padding-top: 53.81px;
    margin-left: 255px;
  }

  .hero .right .col1 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.485em;
    text-align: center;
    padding-top: 70px;
    margin-left: 50px;
  }

  .hero .right .col2 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.15em;
    text-align: center;
    padding-top: 25px;
  }

  .hero .right .numbers {
    display: flex;
    justify-content: center;
  }

  .hero .right .numbers h1 {
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 250;
    line-height: 57px;
    letter-spacing: 0.09em;
    margin-left: 30px;
    padding-top: 50px;
  }

  .hero .right .time {
    display: flex;

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }

  .hero .right .time .cola {
    margin-left: 164px;
  }
  .hero .right .time .colb {
    margin-left: 61px;
  }
  .hero .right .time .colc {
    margin-left: 47px;
  }
  .hero .right .time .cold {
    margin-left: 41px;
  }

  .hero .right a {
    text-decoration: none;
  }

  .hero .right h4 {
    padding-top: 50px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-align: center;
  }

  .hero .right .personal {
    display: flex;
    margin-top: 55px;
    /* background-color: aqua; */
  }
  .hero .right .personal .first {
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 9px 0px #00000040;
    color: #00000047;
    text-decoration: none;
  }

  .hero .right .personal .first form input {
    /* background-color: aqua; */
  }
  .hero .right .personal .second {
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #00a86b;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 15px;
    box-shadow: 0px 4px 9px 0px #00000040;
    text-decoration: none;
    color: white;
  }

  .hero .right .socials {
    padding-top: 150px;
    font-size: 35px;
    margin-left: 190px;
    letter-spacing: 15px;
    padding-bottom: 50px;
  }
}
