/* first lesson */

.parent{
width: 500px;
height: 500px;
background: red;
display: flex;
justify-content: center;
align-items: center;
}

.parent .child{
width: 100px;
height: 100px;
background: blue;
/* margin: auto; */

}

/*jott:  display row and colums (arrangement)
there are bassically two direction, row $ column*/

.container{
width: 300px;
/* height auto means that the height should be flexible with its children */
height: auto; 
background-color: aqua;
display: flex;

flex-wrap: wrap;
padding: 10px;

}


.container .box1{
    width: 48%;
    height: 100px;
    background-color: blueviolet;
    margin-right: 4%;
    margin-bottom: 4%;  
}

.container .box2{
width: 48%;
height: 100px;
background-color: pink;
}


.container .box3{
width: 100%;
height: 100px;
background-color: red;
margin-bottom: 4%;

            
}

.container .box4{
 width: 23%;
height: 100px;
background-color: yellow;

margin-right: 2%;                     

              
}

.container .box5{
width: 23%;
 height: 100px;
background-color:rgb(130, 120, 140);
margin-right: 2%;                     

}

 .container .box6{
 width: 23%;
height: 100px;
 background-color: brown;            
 margin-right: 2%;                     
                      
 }

 .container .box7{
 width: 23%;
height: 100px;
background-color: blueviolet;
margin-right: 2%;                     
                            
 }



 