*{
padding: 0px;
margin: 0px;
}

.wrapper{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    display: flex;

}

.wrapper .left{
    width: 50%;
    height: 100%;
    /* background-color: rgb(130, 130, 139); */
    background-image : url(../Images/slider-2.jpg);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;

}
.wrapper .right{
    width: 50%;
    height: 100%;
    background-color: #10104d;

}

.wrapper .right .container{
    width: 300px;
    height: 400px;
   

}
.wrapper .right .container .con{
    width: 300px;
    height: 400px;
    color: rgb(218, 232, 232);

}