/* MONTH 2 WEEK 1 */

*{
padding: 0px;
margin: 0px;

}

.wrapper{
width: 100%;
height: 100vh;
/* background-color: blue; */
display: flex;

}


.wrapper .left{
    width: 50%;
    height: 100%;
    /* background-color: rgb(130, 130, 139); */
    background-image : url(../Images/slider-2.jpg);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;

}

.wrapper .right{
    width: 50%;
    height: 100%;
    background-color: #F0F0F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .right .container{
    width: 300px;
    height: 400px;

}
.wrapper .right .container .logo-container img{
width: 100% ;
animation: logo-animation 1s ease infinite; 
}

.wrapper .right .container form{
    width: 100% ;
    
    background-color: #fff;
    padding: 15px;
    margin-top: 30px;
    padding-bottom: 50px;
    padding-top: 30px;
    border: 0.5px solid #c3c4c7;
    box-shadow: 0 1px 3px rgb(0 0 0 / 4%)

}
.wrapper .right .container form label{
    margin-bottom: 5px;
    display: block;
    color: #3c434a
    
}
.wrapper .right .container form .field{
    border: 1px solid #ddd;
    padding: 13px;
    width: 91%;
    margin-bottom: 20px;

}

.wrapper .right .container form .footer-container{
width: 100%;


}

.wrapper .right .container form .footer-container button{
background-color: #2271b1;
padding: 10px;
color: #fff;
border: none;
float: right;
border-radius: 3px;
animation: login-button 1s ease infinite;

}

.wrapper .right .container .footer{
margin-right: 24px;
float: right;
}

/* ASSIGNMENT: FINISH THE AHREF PART and the eye */

/* MONTH 2 second class = ANIMATION
there is a difference b/w margin right and right.
COMBINATION OF FRAME=ANIMATION
KEYFRAME
TO ANIMATE WE USE KEYWORD @KEYFRAMES
animations can run in two ways which is from and to*/

 
@keyframes logo-animation{
    from{
        margin-left:0px ;
    }
to {
    margin-left: 50px;
}

}

 @keyframes logo-animation{
0%{
    margin-left: 0px;

}
50%{
    margin-left: 50px;

}
100%{
    margin-left: 0%;
}



}

@keyframes logo-animation{
    0%{
        margin-left: 0px;
    
    }
    25%{
        margin-left: 50px;
    
    }
    50%{
        margin-left: 50px;
        margin-top: 50px;
    }
    75%{
        margin-left: 0px;
        margin-top: 50px;
    }
    100%{
        margin-left: 0px;
        margin-top: 0px;
    }
    
    }

@keyframes login-button{
    from{
        background-color: #2271b1;
    }
        
        to{
            background-color: pink;
        }
    }

    /* MOBILE RESPONSIVENESS */

    @media only screen and (max-width: 577px) {
        .wrapper .left{
            display: none;
        }

        .wrapper .right{
            width: 100%;
            background-image : url(../Images/slider-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

        }
    }

    /* LIBRIARIES 
    E.G FOTN AWESOME AND BOX ICON IS A LIBRIARY THAT HAS BEEN BUILT, JUST USE THE CODE
    */

   