*{
padding: 0px;
margin: 0px;

}


.hero{
width: 100%;
height: 110vh;
background-image: url(../Images/man\ background.jpg);
background-repeat: no-repeat;
background-size: cover;
/* position: relative; */


}

.hero .overlay{
    width: 100%;
    height: 110vh;
background-color: #061f24e6;
position: absolute;
margin: auto;


}

.hero header{
    height: 90px;
    /* background-color: black; */
    position: relative;
    padding-top: 30px;
    /* padding-bottom: -30px; */
}

.hero header .hamburger{
    display: none;
    /* display: block; */
    float: right;
    bottom: 35px;
    position: relative;
    
}

.hero header .hamburger i{
color: white;
margin-right: 25px;
font-size: 30px;
}

.hero header h2{
color: rgb(217, 234, 234);
position: relative;
margin-left: 50px;
font-size: 33px;
}

/* .hero header h2{
    position: relative;
    margin-left: 100px;
} */

.hero header nav{
    float: right;
    bottom: 35px;
    position: relative;
    display: flex;
}

.hero header nav ul{
display: flex;} 

.hero header  .font{
    float: right;
    bottom: 35px;
    position: relative;
    display: flex;
}

.hero header  .font{
    display: flex;
color: white;
padding-right: 25px;
font-size: 20px;
margin-right: 20px;
} 

.hero header  .font .fa-regular{
    padding-left: 15px;
}

.hero header nav ul li{
    margin-right: 25PX;
    display: inline-block;
    font-size: 17PX;
}


/* 
.hero header nav ul i{
    color: azure;
} */


.hero header nav ul li a{
color: rgb(255, 255, 255);
/* text-decoration: none; */

}

.hero header nav ul a.hire-me{
    background-color: #007e6a;
padding: 15px;
border-radius: 50px;
padding-left: 30px;
padding-right: 30px;
/* font-family: ; */

}

.hero .wrapper{
width: 100%;
height: 85%;
/* background-color: black; */
position: relative;
display: flex;
}
   

.hero .wrapper .left{
/* background-color: #7b2626; */
height: 100%;
padding-top: 100px;
padding: 40px;
width: 50%;
}


.hero .wrapper .left .john{
    padding-top: 80px;

    color: white;
}


.hero .wrapper .left .web-developer{
    font-size: 70px;
    color: white;

}


.hero .wrapper .left h6{
    color: white;
    padding-top: 30px;
}

.hero .wrapper .left .buttonlike-link{
    display: flex;
    /* background-color: aqua; */
    width: 100%;
    height: 20%;
}



.hero .wrapper .left .buttonlike-link .hire-me2{
background-color: #397F6A;    
padding: 13px;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
color: white;
    text-decoration: none;
    margin-top: 10px; 
    margin-left: 40px;
    padding-top: 20px;
    text-align: center;
    height: 60%;



}
        
        
        
        .hero .wrapper .left .buttonlike-link .my-portfolio{
background-color: #397F6A;


padding: 13px;
            border-radius: 100px;
            padding-left: 30px;
            padding-right: 30px;
        color: white;
            text-decoration: none;
            margin-top: 10px; 
            margin-left: 40px;
            padding-top: 20px;
            text-align: center;
            height: 60%;
            border-style: groove;
            
        
        
        }


.hero .wrapper .right{
/* background-color: #7b2626; */
height: 97%;
/* padding: 60px; */
width: 50%;
}


.hero .wrapper .right .pam{
    /* padding-top: 9px; */
    width: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
    /* background-color: #264e7b; */
    margin-top: 109px;
}









.hero-2{
width: 100%;
height: 140vh;
/* background-color: blue; */
display: flex;
justify-content: center;
align-items: center;

}

.hero-2 .wrapper{
width: 1150px;
height: 560px;
/* background-color: white; */
display: flex;
}

.hero-2 .wrapper .left{
    /* width: 700px; */
    height: 560px;
/* background-color: pink; */

}

.hero-2 .wrapper .left img.man-background{
    width: 380px;
    height: 560px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    }


    
.hero-2 .wrapper .right{
    width: 700px;
    height: 560px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-2 .wrapper .right .child{
    width: 600px;
    height: 460px;
    /* background-color: pink; */
    
}

.hero-2 .wrapper .right h4.biography{
color: gray;


}
.hero-2 .wrapper .right h1{
/* color: white; */
    font-size: 29px;
}
.hero-2 .wrapper .right h4.what-i-love{
color: gray;
/* font-weight: 100;
font-size: 18px; */
}

.hero-2 .wrapper .right .child .second-child{
    margin-top: 30px;
height: 70px;
width: 500px;
/* background-color: white; */
display: flex;
}

.hero-2 .wrapper .right .child .second-child-1{


}
.hero-2 .wrapper .right .child .second-child-2{
    margin-left: 50px;
}

.hero-2 .wrapper .right .child .third-child{

display: flex;
padding-top: 23px;

}
.hero-2 .wrapper .right .child .third-child .font-awesome{
margin-left: 40px;
color: #007e6a;
font-size: 20px;
/* background-color: #28bc32; */
padding-left: 26px;
}

.hero-2 .wrapper .right .child .third-child .font-awesome i{
    
    padding-left: 30px;
    }
.hero-2 .wrapper .right .child nav ul{

display: flex;
padding-top: 20px;
list-style-type: none;

}

/* .hero-2 .wrapper .right .child nav ul li{
    text-decoration: none;
    
    }
     */


.hero-2 .wrapper .right .child nav ul li a.hire-me{
    background-color: #007e6a;
    padding: 15px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    /* font-family: ; */
    color: white;    
    text-decoration: none;
    display: inline-block;

}

.hero-2 .wrapper .right .child nav ul li a.download-cv{
    background-color: #28bc32;
    padding: 15px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    /* font-family: ; */
    color: white;    
    text-decoration: none;
    display: inline-block;
    margin-left: 30px;
}

.hero-3{
    width: 100%;
    height: 100vh;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    }

.hero-3 .wrapper{
    width: 100%;
    height: 83vh;
    background-color: #F6F6F6;
   
}



.hero-3 .wrapper .what{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    height: 20%;
    width: 100%;
    margin-bottom: -50px;
}

.hero-3 .wrapper .box-container{
    width: 90%;
    display: flex;
    height: 80%;
    background-color: #F6F6F6;
    margin-left: 5%;

}





.hero-3 .wrapper .box-container .box{
    width: 30%;
    /* height: 60vh; */
    background-color: white;
    margin: auto;
    /* background: red; */
    padding-top: 15px;
    border: 5px;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.04);

    }

    .hero-3 .wrapper .box-container i{
    font-size: 35px;

    }


    .hero-3 .wrapper .box-container .box.box1{
        padding: 30px;


    }
    .hero-3 .wrapper .box-container .box.box1 i{
color: #007e6a;
padding-bottom: 10px;
    }

    .hero-3 .wrapper .box-container .box.box2{
        padding: 30px;


    }
    .hero-3 .wrapper .box-container .box.box2 i{
        color: #007e6a;
        padding-bottom: 10px;
            }

    .hero-3 .wrapper .box-container .box.box3{
        padding: 30px;


    }

    .hero-3 .wrapper .box-container .box.box3 i{
        color: #007e6a;
        padding-bottom: 10px;
            }


    
    .hero-4{
    width: 100%;
     height: 100vh;
 /* background-color: #411360; */
 /* display: flex; */
     /* margin: auto; */
    }
            

    .hero-4 .wrapper {
        width: 100%;
     height: 100%;
 /* background-color: rgb(208, 164, 164); */
        
        display: flex;
       
    }
    


    .hero-4 .wrapper img{
        padding: 30px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
}


.hero-4 .wrapper .skills{
    width: 50%;
    margin-left: 30px;
height: 100%;
margin-top: 70px;
}

.hero-4 .wrapper .skills h6{
    color: black;
    padding-bottom: 15px;
}


.hero-4 .wrapper .skills h1{
padding-bottom: 10px ;


}


.hero-5{
    width: 100%;
    height: 100vh;
    /* background-color: pink; */
}

.hero-5 .wrapper{
    width: 100%;
    height: 100%;
    background-color: floralwhite;
    display: flex;
}


.hero-5 .wrapper .left{
    width: 60%;
    height: 100%;
    /* background-color: rgb(156, 212, 45); */
    padding: 15px;
    display: flex;
}

.hero-5 .wrapper .left .boxa{
    
    width: 50%;
    height: 100%;
    padding-top: 10%;
    /* background-color: rgb(9, 109, 129); */

}

.hero-5 .wrapper .left .boxa .row1{
    height: 30%;
    display: flex;
    /* background-color: #bc2888; */

}
.hero-5 .wrapper .left .boxa .row1 .web{

    padding: 17px;
}
.hero-5 .wrapper .left .boxa .row2{
    height: 30%;
    display: flex;
    /* background-color: #8129b7; */
}

.hero-5 .wrapper .left .boxa .row2  .research{

    padding: 17px;
}
.hero-5 .wrapper .left .boxa .row3{
    height: 30%;
    display: flex;
    /* background-color: rgb(234, 255, 0); */
}

.hero-5 .wrapper .left .boxa .row3 .res{

    padding: 17px;
}

.hero-5 .wrapper .left .boxa i{
    padding-top: 20px;
    font-size: 24px;
    color: #397F6A;
}


.hero-5 .wrapper .left .boxb{
    
    width: 50%;
    height: 100%;
    padding-top: 10%;
    /* background-color: rgb(129, 9, 51); */

}

.hero-5 .wrapper .left .boxb .row1{
    height: 30%;
    display: flex;
    /* background-color: #28bc32; */

}
.hero-5 .wrapper .left .boxb .row1 .web{

    padding: 17px;
}
.hero-5 .wrapper .left .boxb .row2{
    height: 30%;
    display: flex;
    /* background-color: #cfc1d8; */
}

.hero-5 .wrapper .left .boxb .row2  .research{

    padding: 17px;
}
.hero-5 .wrapper .left .boxb .row3{
    height: 30%;
    display: flex;
    /* background-color: aqua; */
}

.hero-5 .wrapper .left .boxb .row3 .res{

    padding: 17px;
}

.hero-5 .wrapper .left .boxb i{
    padding-top: 20px;
    font-size: 24px;
    color: #397F6A;
}

.hero-5 .wrapper .right{
    width: 40%;
    height: 100%;
    /* background-color: rgb(15, 20, 5); */
}


.hero-5 .wrapper .right img{
    width: 70%;
    height: 100%;
}


.hero-6{
    height: 60vh;
            width: 100%;
        /* background-color: rgb(140, 42, 42); */
    }


    .hero-6 .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
      
        /* background-color: #7b2626; */
    }

    .hero-6 .wrapper .left{
        display: flex;
        width: 50%;
        /* background-color: #28bc32; */
    }
    .hero-6 .wrapper .right{
        display: flex;
        width: 50%;
        /* background-color: #4d28bc; */
    }

    .hero-6 .wrapper h1{
        background-color: white;
        width: 100%;
        padding-top: 70px;
        padding-bottom: 15px;
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 80px;
  }

  .hero-6 .wrapper h6{
    color: gray;
    background-color: white;
    padding-bottom: 100px;
    padding-left: 100px;
  } 

   
.hero-7{
width: 100%;
margin: auto;
background-color: #F6F6F6;

}

  

.hero-7 h1{
    padding: 50px;
    background-color: #F6F6F6;
    text-align: center;
}



.hero-7 .wrapper{
    width: 90%;
    height: 80%;
    background-color: #F6F6F6;
    margin-left: 70px;
    display: flex;
}
.hero-7 .wrapper img{
width: 90%;
padding-bottom: 10px;
border-radius: 20px;
background-repeat: no-repeat;
background-size: cover;
padding-bottom: 50px;
}


.hero-8{
    width: 100%;
    height: 50vh;
    /* background-color: #28bc32; */
}

.hero-8 .wrapper{
    width: 100%;
    height: 100%;
    background-color: #007e6a;
    display: flex;
    margin-top: 3%;
}


.hero-8 .wrapper .box1{
    width: 20%;
    height: 80%;
    /* background-color: #bc8d28; */
    margin-top: 3%;

}

.hero-8 .wrapper .box1 img{
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
background-size: cover;
padding-top: 20%;
}

.hero-8 .wrapper .box2{
    width: 20%;
    height: 80%;
    /* background-color: #bc9728; */
    margin-top: 3%;
}
.hero-8 .wrapper .box2 img{
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
background-size: cover;
padding-top: 20%;
}
.hero-8 .wrapper .box3{
    width: 20%;
    height: 80%;
    /* background-color: #032e0e; */
    margin-top: 3%;
}
.hero-8 .wrapper .box3 img{
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
background-size: cover;
padding-top: 20%;
}

.hero-8 .wrapper .box4{
    width: 20%;
    height: 80%;
    /* background-color: #bc2870; */
    margin-top: 3%;
}
.hero-8 .wrapper .box4 img{
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
background-size: cover;
padding-top: 20%;
}

.hero-8 .wrapper .box5{
    width: 20%;
    height: 80%;
    /* background-color: #888092; */
    margin-top: 3%;
}
.hero-8 .wrapper .box5 img{
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
background-size: cover;
padding-top: 20%;
}

.hero-9{
    width: 100%;
    height: 40vh;
    background-color: rgb(43, 41, 41);
}
.hero-9 .footer .ui{
   
    color: white;
    text-align: center;
    padding-top: 60px;
    /* padding-bottom: 40px; */
    /* background-color: #6b7177; */
    
    }

    .hero-9 .footer .location{
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 40px;
        /* background-color: #6b7177; */
        
        }


        .hero-9 .footer .location .number{
            margin-right: 50px;
        }


        .hero-9 .footer .location .address{
            margin-left: 50px;
        }








.hero-9  .footer .theme{
background-color: #656768;
width: 100%;
/* height: 10vh; */

}

.hero-9  .footer .wrapper{
   display: flex;
    /* background-color: #28bc32; */
    }


    .hero-9  .footer .wrapper .ui{
        margin-left: 10px;
         padding-top: 30px;
         }

         .hero-9  .footer .wrapper .font-awesome{
            margin-left: 600px;
             padding-top: 30px;
             
             }


             .hero-9  .footer .wrapper .font-awesome i{
                margin-left: 10px;
                 
                 }
             .hero-9  .footer .theme .last {
                color: white;
             }

@media only screen and (max-width: 577px) {

    .hero{

        width: 100%;
        height: auto;
        background-image: url(../Images/man\ background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /* position: relative; */
        
        flex-wrap: wrap;

    
        }

        .hero .overlay{
            width: 100%;
            height: 176%;
        background-color: #061f24e6;
        position: absolute;
        
        }
       

        

        .hero header{
            width: 100%;
            /* background-color: rgb(20, 64, 80); */
            position: relative;
            padding-top: 30px;
            /* padding-bottom: -30px; */
            height: 90px;
        }


        .hero header .hamburger{
            float: right;
            bottom: 35px;
            position: relative;
            display: flex;
        }
        
        .hero header .hamburger i{
        color: white;
        margin-right: 25px;
        }


        .hero header h2{
            color: rgb(217, 234, 234);
            position: relative;
            margin-left: 50px;
            font-size: 23px;
            right: 16px;
        }


        .hero header nav{
            /* display: block; */
            display: none;

            position: fixed;
            top: 60px;
            width: 60%;
            height: 74%;
            padding-top: -4px;
            margin-left: 30px;
            
            background-color: rgba(119, 10, 10, 0.44);
            z-index: 1000;
        }

    

        .hero header nav ul{
            display: block;
        } 

        .hero header  .font{
             float: right;
            bottom: 35px;
            position: relative;
            display: flex;
        }
    
        .hero header  .font{
            display: flex;
            color: white;
            padding-right: 25px;
            font-size: 20px;
            margin-right: 20px;
        } 
        .hero header  .font .fa-solid.fa-bars{
            top: 0%;
            position: relative;
        }
        .hero header  .font .fa-regular{
            padding-left: 15px;
        }

        .hero header nav ul li{
            display: flex;
            margin-right: 0px;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            padding-top: 10px;
            justify-content: center;

        }

        .hero header nav ul li a{
            color: rgb(255, 255, 255);
            text-decoration: none;
        
        }


        .hero header nav ul a.hire-me{
            background-color: #007e6a;
            padding: 15px;
            border-radius: 50px;
            padding-left: 30px;
            padding-right: 30px;
            /* font-family: ; */
    
        }
       
        .hero .wrapper{
            width: 100%;
            height: auto;
            /* background-color: black; */
            flex-wrap: wrap;
       
            position: relative;
        }
        
  
        .hero .wrapper .left{
            width: 100%;
            margin-top: -30px;
            /* background-color: #7b2626; */
            height: 70%;
            padding-top: 0px;
            padding: 30px;
        }       


        .hero .wrapper .left li{
            margin-right: 30PX;
            display: inline-block;
            font-size: 18PX;
        }


        .hero .wrapper .left h1.web-developer{

            color: white;
            font-size: x-large;
            font: bolder;
            font-size: 40px;
        
        }
        
        
        .hero .wrapper .left h3{
            color: white;
            font-weight: 600;
        
        }
        .hero .wrapper .left h6{
            color: white;
            /* font-weight: 600; */
            font-family: Arial, Helvetica, sans-serif;
        }
        .hero .wrapper .left .buttonlike-link{
            display: flex;
        
        }
        
        .hero .wrapper .left .buttonlike-link .hire-me2{
            background-color: #007e6a;
            padding: 15px;
            border-radius: 50px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 60px;
            color: white;
            text-decoration: none;
            margin-top: 50px; 

        }
      

        .hero .wrapper .left .buttonlike-link .my-portfolio{
                background-color: #007e6a;
                padding: 15px;
                border-radius: 50px;
                padding-left: 30px;
                padding-right: 30px;
                margin-bottom: 60px;
                color: white;
            text-decoration: none;
            margin-top: 50px; 
        }
   

        .hero .wrapper .right{
            margin-top: -180px;
            width: 100%;
            /* background-color: #28bc32; */
            height: auto;
        
            }

            /* .hero .wrapper .right .pam{
                /* padding-top: 9px; */
                /* width: 70%; */
                /* background-repeat: no-repeat;
                background-size: cover;
                margin-left: 30px; */
                /* background-color: #7b2626; */
                /* margin-top: 77px;
            } */ */

            .hero .wrapper .right .pam{
                /* padding-top: 9px; */
                width: 70%;
                background-repeat: no-repeat;
                background-size: cover;
                margin-left: 30px;
                background-color: #264e7b;
                margin-top: 99px;
            }
           
        .hero-2{
            width: 100%;
            height: 100vh;
                /* background-color: blue; */
            flex-wrap: wrap;                
            justify-content: center;
                
            align-items: center;
                margin-bottom: -20px;
            }
                
            .hero-2 .wrapper{
                width: 100%;
                height: auto;
                /* background-color: rgb(145, 27, 27); */
                flex-wrap: wrap;                
                padding-top: 30px;
                /* flex: wrap; */
                }
                

                .hero-2 .wrapper .left{
                    width: 100%;
                    height: 560px;
                    /* background-color: pink; */
                
                }
                
                .hero-2 .wrapper .left img.man-background{
                    width: 90%;
                    height: 560px;
                    background-position: center;
                    background-size: cover;
                    border-radius: 10px;
                    margin-left: 5%;

                    }
                
                

                    .hero-2 .wrapper .right{
                        width: 95%;
                        padding: 0px;
                        height: auto;
                        /* background-color: yellow; */
                        flex-wrap: wrap;
                        margin-left: 2.5%;
                        padding-left: 0px; 
                        padding-right: 0px;       
                        padding-top: 50px;           
                        
                    }


                    .hero-2 .wrapper .right .child{
                        width: 100%;
                        height: auto;
                        /* background-color: pink; */
                        
                    }

                    .hero-2 .wrapper .right h1{
                        /* color: white; */
                            font-size: 20px;
                            /* background-color: #2877bc; */
                            }






                            .hero-2 .wrapper .right .child .second-child{
                                margin-top: 30px;
                            height: 70px;
                            width: 500px;
                            background-color: white;
                            display: flex;
                            }
                            
                            .hero-2 .wrapper .right .child .second-child-1{
                            
                            
                            }
                            .hero-2 .wrapper .right .child .second-child-2{
                                margin-left: 20px;
                            }
                    
                            




                    .hero-2 .wrapper .right .child .third-child .font-awesome{
                        margin-left: 40px;
                        color: #007e6a;
                        font-size: 20px;
                        /* background-color: #28bc32; */
                        padding-left: 46px;
                     }


                    




                    .hero-2 .wrapper .right .child .third-child .font-awesome i{
    
                            padding-left: 20px;
                     }

                     .hero-3{
                        width: 100%;
                        height: auto;
                        /* background-color: #9d0c96; */
                        /* display: block; */
                        
                        /* margin: auto; */
                        flex-wrap: wrap;
                        padding-top: 158%;
                        /* z-index: 1000;  */

                        }
            
                        .hero-3 .wrapper{
                            height: auto;
                            width: 100%;
                            /* background-color: #1e7f25; */
                            /* margin: auto; */
                        flex-wrap: wrap;

                        }


                        .hero-3 .wrapper .what{
                            text-align: center;
                            font-size: 40px;
                            padding-top: 20px;
                            height: 10%;
                            width: 100%;
                            margin-bottom: -90px;
                            flex-wrap: wrap;
                            /* background-color: #7b2626; */
                            padding-bottom: 20px;
                        }

                        /* text-align: center;
                        font-size: 40px;
                        padding-top: 50px;
                        height: 20%;
                        width: 100%;
                        margin-bottom: -90px; */
                        
                        .hero-3 .wrapper .box-container{
                            width: 100%;
                            flex-wrap: wrap;
                            background-color: #f6f6f6;
                            padding-top: 20%;
                            margin-left: 0%;

                        }
                        
                       


                        .hero-3 .wrapper .box-container .box{
                            width: 70%;
                            /* height: 60vh; */
                            background-color: white;
                            margin: auto;
                            /* background: red; */
                            padding-top: 15px;
                            border: 5px;
                            box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.04);
                        
                            }
                        
                            .hero-3 .wrapper .box-container i{
                            font-size: 35px;
                        
                            }
                        
                        
                            .hero-3 .wrapper .box-container .box.box1{
                                padding: 30px;
                                margin-bottom: 40px;
                        
                        
                            }
                            .hero-3 .wrapper .box-container .box.box1 i{
                        color: #007e6a;
                        padding-bottom: 10px;
                            }
                        
                            .hero-3 .wrapper .box-container .box.box2{
                                padding: 30px;
                                margin-bottom: 40px;

                        
                            }
                            .hero-3 .wrapper .box-container .box.box2 i{
                                color: #007e6a;
                                padding-bottom: 10px;
                                    }
                        
                            .hero-3 .wrapper .box-container .box.box3{
                                padding: 30px;
                                margin-bottom: 40px;

                        
                            }
                        
                            .hero-3 .wrapper .box-container .box.box3 i{
                                color: #007e6a;
                                padding-bottom: 10px;
                                
                                    }















                                    
                          
                                    .hero-4{
                                        width: 100%;
                                         height: auto;
                                     /* background-color: #7b2626; */
                                     flex-wrap: wrap;
                                         /* margin: auto; */
                                        }
                                                
                                    
                                        .hero-4 .wrapper {
                                            width: 95%;
                                         height: auto;
                                     /* background-color: rgb(208, 164, 164); */
                                            padding: 0px;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            /* text-align: center; */
                                            align-items: center;
                                            margin-left: 2.5%;
                                            padding-bottom: 30px;
                                        }
                                        
                                    
                                    
                                        .hero-4 .wrapper img{
                                            width: 100%;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            height: 100%;
                                    }
                                                     

                                    .hero-4 .wrapper .skills{
                                        width: 100%;
                                        margin-left: 0px;
                                    height: 100%;
                                    margin-top: 40px;
                                    }
                                    
                                    .hero-4 .wrapper .skills h6{
                                        color: black;
                                        font-size: 14px;
                                    }
                                    
                                 
                                    
                                    .hero-4 .wrapper .skills h1{
                                    padding-bottom: -40px ;
                                    /* background-color: #7b2626; */
                                    
                                    }

                                    .hero-5{
                                        width: 100%;
                                        height: auto;
                                        /* background-color: pink; */
                                    }
                                    
                                    .hero-5 .wrapper{
                                        width: 100%;
                                        height: 200%;
                                        /* background-color: gray; */
                                        flex-wrap: wrap;
                                    }
                                    
                                    
                                    .hero-5 .wrapper .left{
                                        width: 100%;
                                        height: 100%;
                                        /* background-color: rgb(156, 212, 45); */
                                        padding: 15px;
                                        flex-wrap: wrap;
                                    }
                                    
                                    .hero-5 .wrapper .left .boxa{
                                        
                                        width: 100%;
                                        height: 60%;
                                        padding-top: 10%;
                                        /* background-color: rgb(9, 109, 129); */
                                    
                                    }
                                    
                                    .hero-5 .wrapper .left .boxa .row1{
                                        height: 30%;
                                        display: flex;
                                        /* background-color: #bc2888; */
                                    
                                    }
                                    .hero-5 .wrapper .left .boxa .row1 .web{
                                    
                                        padding: 17px;
                                    }
                                    .hero-5 .wrapper .left .boxa .row2{
                                        height: 30%;
                                        display: flex;
                                        /* background-color: #8129b7; */
                                    }
                                    
                                    .hero-5 .wrapper .left .boxa .row2  .research{
                                    
                                        padding: 17px;
                                    }
                                    .hero-5 .wrapper .left .boxa .row3{
                                        height: 30%;
                                        display: flex;
                                        /* background-color: rgb(234, 255, 0); */
                                    }
                                    
                                    .hero-5 .wrapper .left .boxa .row3 .res{
                                    
                                        padding: 17px;
                                    }
                                    
                                    .hero-5 .wrapper .left .boxa i{
                                        padding-top: 20px;
                                        font-size: 24px;
                                        color: #397F6A;
                                    }
                                    
                                    
                                    .hero-5 .wrapper .left .boxb{
                                        
                                        width: 100%;
                                        height: 60%;
                                        padding-top: 0%;
                                        /* background-color: rgb(129, 9, 51);
                                     */
                                    }
                                    
                                    .hero-5 .wrapper .left .boxb .row1{
                                        height: 30%;
                                        flex-wrap: wrap;
                                        /* background-color: #28bc32; */
                                    
                                    }
                                    .hero-5 .wrapper .left .boxb .row1 .web{
                                    
                                        padding: 17px;
                                    }
                                    .hero-5 .wrapper .left .boxb .row2{
                                        height: 30%;
                                        display: flex;
                                        /* background-color: #cfc1d8; */
                                    }
                                    
                                    .hero-5 .wrapper .left .boxb .row2  .research{
                                    
                                        padding: 17px;
                                    }
                                    .hero-5 .wrapper .left .boxb .row3{
                                        height: 30%;
                                        display: flex;
                                        /* background-color: aqua; */
                                    }
                                    
                                    .hero-5 .wrapper .left .boxb .row3 .res{
                                    
                                        padding: 17px;
                                    }
                                    
                                    .hero-5 .wrapper .left .boxb i{
                                        padding-top: 20px;
                                        font-size: 24px;
                                        color: #397F6A;
                                    }
                                    
                                    .hero-5 .wrapper .right{
                                        width: 100%;
                                        height: auto;
                                        background-color: rgb(15, 20, 5);
                                         flex-wrap: wrap;
                                    }
                                    
                                    
                                    .hero-5 .wrapper .right img{
                                        width: 100%;
                                        height: 100%;
                                       
                                    }
                                    
                                    
                                    
                                    .hero-6{
                                        height: auto;
                                                width: 100%;
                                                
                                            /* background-color: rgb(140, 42, 42); */
                                        }
                                    
                                    
                                        .hero-6 .wrapper {
                                            height: auto;
                                            width: 100%;
                                            flex-wrap: wrap;
                                          
                                            /* background-color: #7b2626; */
                                        }
                                    
                                        .hero-6 .wrapper .left{
                                            display: flex;
                                            width: 100%;
                                            /* background-color: #28bc32; */
                                            padding-top: 30px;
                                        }
                                        .hero-6 .wrapper .right{
                                            display: flex;
                                            width: 100%;
                                            /* background-color: #4d28bc; */
                                            padding-top: 30px;
                                            padding-bottom: 30px;
                                        }
                                    
                                        .hero-6 .wrapper h1{
                                            background-color: white;
                                            width: 50%;
                                            padding-top: 0px;
                                            padding-bottom: 15px;
                                            padding-right: 100px;
                                            padding-left: 100px;
                                            margin-top: 0px;
                                            margin-left: -30px;
                                      }
                                    
                                      .hero-6 .wrapper h6{
                                        
                                        color: gray;
                                        background-color: white;
                                        padding-bottom: 10px;
                                        padding-left: 80px;
                                        margin-left: -40px;
                                      } 
                                    
                                      .hero-7{
                                        width: 100%;
                                        margin: auto;
                                        background-color: #F6F6F6;
                                        
                                        }
                                        
                                          
                                        
                                        .hero-7 h1{
                                            padding: 50px;
                                            background-color: #F6F6F6;
                                            text-align: center;
                                        }
                                        
                                        
                                        
                                        .hero-7 .wrapper{
                                            width: 90%;
                                            height: auto;
                                            background-color: #F6F6F6;
                                            margin-left: 10%;
                                            flex-wrap: wrap;
                                        }
                                        .hero-7 .wrapper img{
                                        width: 90%;
                                        padding-bottom: 10px;
                                        border-radius: 20px;
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        padding-bottom: 50px;
                                        }
                                        
                                        .hero-8{
                                            width: 100%;
                                            height: 50vh;
                                            /* background-color: #28bc32; */
                                        }
                                        
                                        .hero-8 .wrapper{
                                            width: 100%;
                                            height: 100%;
                                            background-color: #007e6a;
                                            display: flex;
                                            margin-top: 3%;
                                        }
                                        
                                        
                                        .hero-8 .wrapper .box1{
                                            width: 50%;
                                            height: 80%;
                                            /* background-color: #bc8d28; */
                                            margin-top: 3%;
                                        
                                        }
                                        
                                        .hero-8 .wrapper .box1 img{
                                            width: 100%;
                                            height: 80%;
                                            background-repeat: no-repeat;
                                        background-size: cover;
                                        padding-top: 20%;
                                        }
                                        
                                        .hero-8 .wrapper .box2{
                                            width: 50%;
                                            height: 80%;
                                            /* background-color: #bc9728; */
                                            margin-top: 3%;
                                        }
                                        .hero-8 .wrapper .box2 img{
                                            width: 100%;
                                            height: 80%;
                                            background-repeat: no-repeat;
                                        background-size: cover;
                                        padding-top: 20%;
                                        }
                                        .hero-8 .wrapper .box3{
                                            width: 20%;
                                            height: 80%;
                                            /* background-color: #032e0e; */
                                            margin-top: 3%;
                                            display: none;
                                        }
                                        .hero-8 .wrapper .box3 img{
                                            width: 100%;
                                            height: 80%;
                                            background-repeat: no-repeat;
                                        background-size: cover;
                                        padding-top: 20%;
                                        display: none;
                                        }
                                        
                                        .hero-8 .wrapper .box4{
                                            width: 20%;
                                            height: 80%;
                                            /* background-color: #bc2870; */
                                            margin-top: 3%;
                                            display: none;
                                        }
                                        .hero-8 .wrapper .box4 img{
                                            width: 100%;
                                            height: 80%;
                                            background-repeat: no-repeat;
                                        background-size: cover;
                                        padding-top: 20%;
                                        display: none;
                                        }
                                        
                                        .hero-8 .wrapper .box5{
                                            width: 20%;
                                            height: 80%;
                                            /* background-color: #888092; */
                                            margin-top: 3%;
                                            display: none;
                                        }
                                        .hero-8 .wrapper .box5 img{
                                            width: 100%;
                                            height: 80%;
                                            background-repeat: no-repeat;
                                        background-size: cover;
                                        padding-top: 20%;
                                        display: none;
                                        }
                                        
                                        .hero-9{
                                            width: 100%;
                                            height: 53vh;
                                            background-color: #061F24;
                                            
                                        }
                                        .hero-9 .footer .ui{
                                           
                                            color: white;
                                            text-align: center;
                                            padding-top: 60px;
                                            /* padding-bottom: 40px; */
                                            /* background-color: #6b7177; */
                                            
                                            }
                                        
                                            .hero-9 .footer .location{
                                                flex-wrap: wrap;
                                                color: white;
                                                justify-content: center;
                                                align-items: center;
                                                padding-top: 30px;
                                                padding-bottom: 60px;
                                                /* background-color: #6b7177; */
                                                
                                                }
                                        
                                        
                                                .hero-9 .footer .location .number{
                                                    margin-right: 25px;
                                                }
                                        
                                        
                                                .hero-9 .footer .location .address{
                                                    margin-left: 50px;
                                                   
                                                }
                                        
                                        
                                                .hero-9  .footer .theme{
                                                    background-color: #007e6a;
                                                    width: 100%;
                                                    /* height: 10vh; */
                                                    
                                                    }
                                                    
                                                    .hero-9  .footer .wrapper{
                                                       flex-wrap: wrap;
                                                        /* background-color: #28bc32; */
                                                        }
                                                    
                                                    
                                                        .hero-9  .footer .wrapper .ui{
                                                            margin-left: 10px;
                                                             padding-top: 0px;
                                                             }
                                                    
                                                             .hero-9  .footer .wrapper .font-awesome{
                                                                margin-left: 0px;
                                                                 padding-top: 0px;
                                                                 }
                                                    
                                                    
                                                                 .hero-9  .footer .theme .last {
                                                                    color: white;
                                                                 }                                                   
                                                                          

                                                                 .hero-9  .footer .wrapper .font-awesome i{
                                                                    margin-left: 10px;
                                                                     
                                                                     }
/* bootstrap */
/* bootstrap is a css libriary that has stored prewritten codes


 n/b
make all come down give them 100 % width, flex-wrap wrap
z-index stuff
complete your assignment and make it mobile responsive
put menu in hamburger flex it .rightsubmit next week friday
next class-upload the site online
practise  

javascript
programming lang that makes site dynamic or interractive

topics to treat:
variables
data types
mathematical operations
conditional statements
loops
arrays
objects
functions
events

variable/data types

how to set up java script project
it has an extension of .js
variables are used to store value i.e its a container for storing values

importance of creating variable:
-simplicity
-change values easily

how to comment:
to comment on javascript::
double forward slash //
shorcut is control forward slash

to create variable, the keyword is var then name the variable but it must not stat with numbers or caracters

data types are:
numbers, 
integers, integers are whole numbers
float, float are decimals

strings, strings are alphabets, characters, alphabets mixed with numbers etc
strings are in between double quote

objects,
arrays,
variables

concatenation: joining of two or more datatypes
to concatenate, use +

mathematical operations: e.g subtraction etc done with mathematical operators
there are fundamental and derived values in math equation
for instance %

in variable you cant use / or -

conditional or logical statements
it is made up of if else statement
they are worked by conditional operators

one of = is assignment
two of == is equal to */



/* 21st apr 2023

loops and arrays

and is signified with &&
or  "                 //
 and and or is used to add multiple conditinal statement

 NESTed if ELSE statement
 THIS MEANS HAVING IF STATEMENT INSIE ANOTHER STATEMENT

 TOPIC: arrays
 Collection of data
 array is denoted with square bracket []
 an array can store an array */
