.Welcome{
    color:blue;
    background-color: brown;
    font-size:50Px;
margin-top: 50px;
padding: 50;

}
.scroll-up{font-weight: bold;
font-size: 20px;
background-color: #20415E;
color: white;
border: none;
padding: 10px;
width: 50px;
height: 50px;
border-radius: 50px;
position:fixed;
right: 0px;
bottom: 0px;}

*{
    padding: 0;
    margin: 0;
}

section{

    width: 100%;
    height: 100vh;
    display: flex;
}

section .background-image{
    width: 50%;
    height: 100%;
}
section .background-image img{
    width: 100%;
    height: 100%;

}
section .second-slide{
    background-color: #f0f0f1;
    width: 50%;
    display: grid;
    place-items: center;
    padding: 4rem 0;

}
section .form img{
    width: 290px;
    height: 45px;
}


section .second-slide form{
background-color: white;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 3px rgb(0 0 0 / 4%);
}

section form .second-slide label{
font-size: 14px;
margin-bottom: 3px;
color: #3c434a;

}

section .second-slide form input{
height: 40px;
border: 1px solid #ddd;
padding: 0.1875rem 0.3125rem;
margin: 0 6px 16px 0;

}

/* Month 2: day 1 */






